.heading{
    color:firebrick;
    font-size: 50px;
    display: flex;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding-bottom: 10px;
    justify-content: center;
    background-color:darksalmon;
    margin-bottom: 10px;
}
body{
    background-color: bisque;
}

*{
    box-sizing: border-box;
}

.heading-container{
       display: flex;
       justify-content: center;
}

.list{
    font-size: 20px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.item-1{
    margin-bottom: 10px;
}
.image-container{
    display: flex;
    justify-content: space-around;

}

.image-one{
    width: 300px;
    display: flex;
    height: 300px;
    margin-bottom: 10px;
}
.image-two, .image-three{
    width:330px;
    display: flex;
    margin-bottom: 10px;
}

.recipe-container{
    display: flex;
    justify-content: center;
}
.recipe{
    display: flex;
    justify-content: center;
}
.recipe-heading{
    display: flex;
    justify-content: center;
    padding: 10px;

}
.title{
    font-size: 40px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: black;
}
.link-container{
    display: flex;
    justify-content: center;
}
.recipes-link{
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.item{
    font-size:30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: crimson;

}
.link-one, .link-two, .link-three, .link-four, .link-five{
    margin-bottom: 20px;
}

.footer{
    display: flex;
    justify-content: space-between;
    margin-top: 5px;
}
.footer-one, .footer-two, .footer-three{
    display: flex;
    color: black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}